@font-face {
  font-family: 'Cyberpunk';
  src: url(fonts/CyberpunkWaifus.ttf);
}

* {
  background-color: #282828;
}

body {
  font-family: Cyberpunk;
  color: #D3869B;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #FE8019;
}

h3 {
  font-size: 24px;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  padding-right: 40px;
}

ul {
  text-decoration: none;
  list-style: none;
}

a{
  color: #D3869B;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content:center;
}

.linkbox {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.linkbox h3 {
  border: 5px solid #D3869B;
  padding: 25px;
  margin: 50px;
  background-color: #D3869B;
  color: #282828;
  overflow: hidden;
}

.linkbox ul {
  opacity: 0;
  pointer-events: none;
}


.linkbox.active {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 50px;
  align-items: center;
  border: 5px solid #D3869B;
  transition: 0.5s ease-in;
}

.linkbox.active ul,li {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  background:none;
}

.linkbox.active ul {
  pointer-events: all;
}

.linkbox.active h3 {
  background-color: #282828;
  color: #D3869B;
  border: none;
  padding: 0;
  padding-top: 5px;
}
